:root{
    --primary-color : #0369a1 ; 
    --white-color : #f8fafc;
}

body{
    background-color: var(--primary-color);
    color: var(--white-color);
}

h1{
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
}

label , input {
    width: 100%;
}

#check-button{
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
}